{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recept</h1>

    <table class="table row">
        <tbody>
        <tr class="col-12">
                <th>Id</th>
                <td>{{ recept.id }}</td>
            </tr>
            <tr>
                <th>Beschrijving</th>
                <td>{{ recept.naam }}</td>
            </tr>
            <tr>
                <th>Prijs per liter</th>
                <td>&euro; {{ recept.kostenPerLiter|number_format(2, ',', '.') }}</td>

            </tr>
        <tr>
            <th>Bereidingswijze</th>
            <td>{{ recept.bereidingswijze }}</td>
        </tr>

            <tr>

                <td>

                    <a href="{{ path('admin_editrecept', { 'id': recept.id }) }}">Wijzigen</a>
                </td>
                <td>
                    <a href="{{ path('admin_indexrecept', { 'id': recept.id }) }}">Annuleren</a>
                </td>
            </tr>
        </tbody>
        </table>
{% endblock %}
