{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h3 class="display-3">Bestelling voor {{ bestelling.klant }}</h3>
        <table class="table table-responsive-md table-striped">
        <thead>
        <tr>
            <th><h5 class="display-5">recept</h5></th>
            <th><h5 class="display-5">aantal</h5></th>
        </tr>
        </thead>
        {% for b in bestelling.bestelregels %}
            <tr>
                <td>
                    {{ b.recept.naam }}
                </td>
                <td >
                    {{ b.aantal }}
                </td>
            </tr>
        {%  endfor %}
        </table>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_row(form.recept) }}
                {{ form_row(form.aantal) }}
                {{ form_end(form) }}
                <a href="{{ path('adminListRecepten') }}"/>Terug naar recepten</div>
            </div>
        </div>
    </div>
{% endblock %}

