{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <h3 class="display-3">Bestelling</h3>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_row(form.afhaaldatum) }}
                {{ form_row(form.klant) }}
                {{ form_row(form.telefoon) }}
                <ul class="bestelregels" data-prototype="{{ form_widget(form.bestelregels.vars.prototype)|e('html_attr') }}">
                    {% for br in form.bestelregels %}
                    <li>{{ form_row(br.recept) }}</li>
                    {% endfor %}
                </ul>
                <h3>bestelregels</h3>
                    <div class="row bestelregels">
                    {% for bestelregel in form.bestelregels %}
                        <div class="float-sm-left col-6">
                            {{ form_row(bestelregel.recept) }}
                        </div>
                        <div class="float-sm-right col-2">
                            {{ form_row(bestelregel.aantal) }}
                        </div>
                    {% endfor %}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



<div id="bestelling_bestelregels" data-prototype="<fieldset class=&quot;form-group&quot;><div id=&quot;bestelling_bestelregels___name__&quot;><div class=&quot;form-group&quot;><label class=&quot;required&quot; for=&quot;bestelling_bestelregels___name___recept&quot;>Recept</label><select id=&quot;bestelling_bestelregels___name___recept&quot; name=&quot;bestelling[bestelregels][__name__][recept]&quot; class=&quot;form-control&quot;><option value=&quot;1&quot;>appeltaartijs</option><option value=&quot;2&quot;>chocomousseijs</option><option value=&quot;3&quot;>drakenfruitijs</option><option value=&quot;4&quot;>blauwebessenijs</option><option value=&quot;5&quot;>citroenijs</option><option value=&quot;6&quot;>kruisbessenijs</option><option value=&quot;7&quot;>bramenijs</option></select></div><div class=&quot;form-group&quot;><label for=&quot;bestelling_bestelregels___name___aantal&quot; class=&quot;required&quot;>Aantal</label><input type=&quot;text&quot; id=&quot;bestelling_bestelregels___name___aantal&quot; name=&quot;bestelling[bestelregels][__name__][aantal]&quot; required=&quot;required&quot; class=&quot;form-control&quot; />
</div></div></fieldset>">

</div>
{% endblock %}
