<!-- geheel dat bij kleinere schermen weg zal vallen/-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Venezia</a>

    <!-- menu wordt een hamburger als het scherm kleiner wordt /-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link {% if link == 'home' %}active{% endif %}" href="{{ path('admin_index') }}">Home </a>
            </li>

            {#<!-- uitklapbaar submenu fruit /-->#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if link == 'fruit' %}active{% endif %}" href="#" id="navbarDropdownFruit" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" >
                    Fruit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownFruit">
                    <a class="dropdown-item" href="{{ path('admin_indexfruit') }}">Overzicht</a>
                    <a class="dropdown-item" href="{{ path('admin_newfruit') }}" >Nieuw..</a>
                </div>
            </li>

            <!-- uitklapbaar submenu recepten /-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if link == 'recepten' %}active{% endif %}" href="#" id="navbarDropdownRecept" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" >
                    Recepten
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownRecept">
                    <a class="dropdown-item" href="{{ path('admin_indexrecept') }}">Overzicht</a>
                    <a class="dropdown-item" href="{{ path('admin_newrecept') }}" >Nieuw..</a>

                </div>
            </li>
            {#<!-- uitklapbaar submenu bestellingen /-->#}
            {#<li class="nav-item dropdown">#}
                {#<a class="nav-link dropdown-toggle {% if link == 'bestellingen' %}active{% endif %}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
                   {#aria-haspopup="true" aria-expanded="false" >#}
                    {#Bestellingen#}
                {#</a>#}
                {#<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
                    {#<a class="dropdown-item" href="#">Overzicht</a>#}
                    {#<a class="dropdown-item" href="#">Nieuw..</a>#}
                    {#<a class="dropdown-item" href="#">Nieuwe klant</a>#}

                {#</div>#}
            {#</li>#}
            <li class="nav-item">
                <a class="nav-link dropdown-toggle {% if link == 'user' %}active{% endif %}" href="#" id="navbarDropdownUser" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" >
                    Ingelogd als {{ app.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    {% if is_granted('ROLE_IJSMAKER') %}
                        <a class="dropdown-item" href="{{ path('resetWachtwoord') }}" >Wachtwoord wijzigen</a>
                    {% endif %}
                        <a class="dropdown-item" href="{{ path('logout') }}">Uitloggen</a>
                </div>

            </li>
        </ul>
    </div>
</nav>